<h6 style="font-weight: bold;">Tips:</h6>
<br>
<ul>
  <li>Usernames allowed characters:<br>
  <pre>a-z   A-Z   0-9   _  -  .</pre>
  </li>
  <li>Email address must be valid.
  <pre>Ex.: me@example.com</pre>
  </li>
  <li>Password requirements:<br>
  <pre>- Minimum length of 6 charatcers.</pre>
  <pre>- At least one lowercase letter.</pre>
  <pre>- At least one uppercase letter.</pre> 
  <pre>- At least one digit.</pre>
  </li>
</ul>


