// import the CSS framework
@import "foundation";

// top-bar customizations
.top-bar {
  border: 1px solid #00FFFF;
}

.top-bar-left {
  border: 1px solid #FF0000;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// Custom alert box for Devise
.alert-devise #error_explanation:not(:empty) {
  @extend #errorExplanation
}

#errorExplanation {
  border: 10px;
  padding: 7px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: $alert-color;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: lighten($alert-color, 30%);
}

#errorExplanation p {
  color: #0000ff;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: square;
  font-size: 12px;
  color: white;
}
