// import the CSS framework
@import "foundation";
// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; 
}
.top-bar .name a {
  font-weight: normal;
  color: #e8e8e8;
  padding: 0 15px; 
}

// Some generic overrides 
.column {
  border: 5px solid #466d98;
}

.row {
  border: 10px solid #466d98;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// Custom alert box for Devise
.alert-devise #error_explanation:not(:empty) {
  @extend #errorExplanation
}

#errorExplanation {
  border: 10px;
  padding: 7px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: $alert-color;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: lighten($alert-color, 30%);
}

#errorExplanation p {
  color: #0000ff;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: square;
  font-size: 12px;
  color: white;
}
