
$primary-color: #E8E8E8;


pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// top-bar and title-bar customizations
.title-bar {
  color: darken($primary-color, 50%);
  background-color: $primary-color;
  background-image: image-url('backgrounds/header-backgroung-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  margin-right: -1.2em;
  white-space: nowrap;
  font-family: "OCR A Std", monospace;


  font-size-adjust: 0.58;
  letter-spacing: 10px;
  letter-spacing: 3vw;
  font-size: 1em;
  font-size: 9vmin;
  font-weight: bold;
  margin-right: -1em;

  height: $titlebar-height-rem;
  height: 10vmin;
  border: 0px;
  padding: 0px;
}

.top-bar {
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  height: $topbar-height-rem;
  //border: 1px solid #00FFFF;
}

.top-bar-search {
  overflow-x: hidden;
  overflow-y: visible;
  height: $topbar-height-rem;
  white-space: nowrap;
  float: left;
  padding: none;
  margin: none;

  input[type=search] {
    width: 100%;
    float: left;
    padding: none;
    margin: none;
  }

  input[type=submit] {
    float: right;
    padding: none;
    margin: none;

  }

  #div-padding {
    display: inline-block;
    padding: none;
    margin: none;
    border: 1px solid #FF0000;
  }
}

.top-bar-left {
  height: $topbar-height-rem;
  //border: 1px solid #FF0000;

  float: left;
}

.top-bar-right {
  height: $topbar-height-rem;
  //border: 1px solid #00FF00;

  float: right;
}

#menu-button.button {
  //@include button();
  @include button-style(#E8E8E8, #262626, auto);
  @include button-dropdown(0.7em, #E8E8E8, 5px);
  padding: 0.30em 0.45em;
  text-align: center;
  font-size: 25px;
}

// Allow drpdown menu to appear
.dropdown.menu {
  z-index: $z-index-dropdown; 
  overflow: visible;
}

// Custom alert box for Devise
.alert-devise #error_explanation:not(:empty) {
  @extend #errorExplanation
}

#errorExplanation {
  border: 10px;
  padding: 7px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: $alert-color;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: lighten($alert-color, 30%);
}

#errorExplanation p {
  color: #0000ff;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: square;
  font-size: 12px;
  color: white;
}

