



<div class="title-bar">
  <span ><%= Settings.app.name_extended %></span>
</div>

<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="is-dropdown-submenu-parent">
            <button class="dropdown button expanded">&#9776;</button>
            <ul class="vertical menu">
              <%= render :partial => 'layouts/navigation_menu' %>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-search">
        <div id="div-padding">
          <input type="search" />
          <input class="button" id="menu-button" type="submit" value="GO" />
        </div>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%= render :partial => 'layouts/navigation_auth' %>
        </ul>
      </div>
    </div>
  </div>
</div>
