<div class="title-bar" id="title-bar-content">
  <span ><%= Settings.app.name_extended %></span>
</div>

<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
          <div href="#" class="menu-icon top-bar-dropdown-button">Menu</div>
          <ul class="menu vertical">
            <%= render :partial => 'layouts/navigation_menu' %>
          </ul>
          </li>
        </ul>
      </div>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
          <%= render :partial => 'layouts/navigation_auth' %>
        </ul>
      </div>
    </div>
  </div>
</div>
